/*******************************
 ****** SECTION: FEATURES ******
 *******************************/

section#features {
  padding-top: 50px;
  background-color: #e5e5e5;
  padding-right: 0;
  padding-bottom: 0;
}

#features header {
  padding-top: 60px;
}

#features .swipeable:nth-child(3) img.phone {
  position: relative;
  right: -15px;
  max-width: 124%;
}

@media only screen and (max-width: 768px) {

  section#features {
    padding-top: 35px;
  }

  #features header {
    padding-top: 0;
  }

}

/*******************
 ****** SWIPE ******
 *******************/

.swipeable {
  width: 100%;
  position: relative;
  float: left;
}

/****************************
 ****** DOTS INDICATOR ******
 ****************************/

ul.dots {
  text-align: center;
  padding-left: 0;
  margin-right: 15px;
}

.dot {
  cursor: pointer;
  display: inline-block;
  height: 2em;
  width: 2em;
  margin-left: .5em;
  background-color: red;
  border-radius: 2em;
}

.dot.active {
  background-color: blue;
}

/****************************
 ****** SLIDES CONTENT ******
 ****************************/

@media only screen and (max-width: 768px) {

  .symbols {
    margin-bottom: 20px;
  }

}

