@import 'bootstrap';

/*****************
 ***** CORE ******
 *****************/

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}
 
img {
  max-width: 100%;
}

body > #app {
  min-height: 100%;
  height: 100%;
}

section {
  padding: 20px;
}

.blur {
  -webkit-filter: blur(30px); -moz-filter: blur(30px);
  -o-filter: blur(30px); -ms-filter: blur(30px); 
  filter: url(#blur); filter: blur(30px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-transition: 2s -webkit-filter linear;
  -moz-transition: 2s -moz-filter linear;
  -o-transition: 2s -o-filter linear;
  transition: 2s filter linear;
  transition: 2s -webkit-filter linear;
}

/******************************
 ***** OVERRIDE BOOTSTRAP *****
 ******************************/

.btn,
input.form-control {
  letter-spacing: -.5px;
}

.btn {
  background-color: transparent;
  border: 2px solid #b9b9b9;
  color: #868686;
  padding: 8px 14px;
}

input.form-control {
  border: 0 none;
  border-radius: 2px;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 19px 14px;
}


/******************************
 ***** CORE - RESPONSIVE ******
 ******************************/

@media only screen and (max-width: 768px) {

  body {
    text-align: center;
  }

}

/*********************************
 ************ NAVBAR *************
 *********************************/

#top-navbar {
  background-color: #e5e5e5;
  margin-bottom: 0;
  padding: 15px 15px 0;
}

#top-navbar .navbar-brand {
  height: auto;
}

#top-navbar .navbar-right {
  margin: 15px 0; 
}


/**********************
 ****** SECTIONS ******
 **********************/

@import './components/main-section/index.css';
@import './components/features-section/index.css';

/********************
 ****** FOOTER ******
 ********************/

footer {
  padding: 20px 20px 5px;
  text-align: left;
}

footer > ul {
  padding-left: 0;
}

footer > ul {
  padding-left: 0;
}

footer > ul > li {
  display: inline-block;
  margin-right: 15px;
}
